@import url("style.css");

body {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.data {
    position: relative;
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    background-color: var(--hijaumudah);
    color: var(--hijau);
    border-radius: 20px;
    height: 80vh;
}

.data .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data .header .item {
    width: calc(100% / 3);
}

.data .header .item.input {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.data .header .item.input input {
    width: 60%;
}

.data .header .item.input i {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 18px;
}

.data .header h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.data .scroll {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
}

.data .scroll table {
    height: fit-content;
}
/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #f1f1f1;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: var(--warna1);
    border-radius: 5px;
}

/* Hover state on Thumb */
::-webkit-scrollbar-thumb:hover {
    background: #1a3a0c;
}

/* Scrollbar Button (arrows) */
::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}

@media only screen and (max-width: 768px) {
    .data {
        padding: 15px;
    }

    .data h1 {
        font-size: 23px;
        margin: 0;
        text-align: center;
    }

    .data .header {
        display: flex;
        flex-direction: column !important;
        gap: 15px;
        padding: 5px 20px;
    }

    .data .header .item:first-child {
        display: none;
    }

    .data .item {
        width: 100% !important;
    }

    .data .item h1 {
        width: 100% !important;
        font-size: 23px;
    }

    .scroll {
        margin-top: 10px;
        width: 100%;
        overflow: scroll;
        padding: 0 !important;
        display: flex;
        justify-content: flex-start;
    }

    .scroll table {
        white-space: nowrap;
    }

    .scroll th,
    .scroll td {
        font-size: 13px;
    }
}
