@import url("style.css");

.daftar-peserta {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  width: 60%;
  background-color: var(--warna2);
  color: white;
  border-radius: 20px;
}

.daftar-peserta {
  width: 100%;
  height: 80vh;
}

.daftar-peserta .scroll {
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  /* justify-content: flex-start; */

  flex-wrap: wrap;
  gap: 25px;
  /* border: 1px solid green; */
}

.daftar-peserta .scroll .box {
  width: 200px;
  height: 270px;
  padding: 15px;
  border-radius: 15px;
  transition: 300ms;
  cursor: pointer;
  background-color: var(--temp);
}

.daftar-peserta .scroll .box:hover {
  transform: scale(1.1);
}

.daftar-peserta .scroll .box .gambar {
  width: 100%;
  height: 70%;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.daftar-peserta .scroll .box .gambar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.daftar-peserta .scroll .box .deskripsi {
  padding-top: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.daftar-peserta .scroll .box .deskripsi h3 {
  margin: 0;
  font-size: 20px;
}

.daftar-peserta .scroll .box .deskripsi p {
  margin: 0;
}

/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
  border-radius: 20px;
  width: 10px;
  height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #f1f1f1;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Hover state on Thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar Button (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay .detail {
  background-color: var(--warna2);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay .detail img {
  width: 50%;
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width:425px){
  .daftar-peserta{
    padding-left: 0%;
    padding-right: 0%;
  }
  .daftar-peserta .scroll{
    flex-direction: row;
  }

  .daftar-peserta .scroll .box {
    width: 43%;
    height: 45vw;
  }

  .daftar-peserta .scroll .box .deskripsi h3 {
    margin: 0;
    font-size: 12px;
  }
  .daftar-peserta .scroll .box .deskripsi p {
    margin: 0;
    font-size: 13px;
  }
} 

