@import url("style.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.container.kotak {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    height: fit-content;
    border: 3px solid var(--hijau);
    background-color: var(--hijaumudah);
    color: var(--hijau);
}

.container.kotak h1 {
    margin: 0;
}

.container.kotak form {
    width: 100%;
}

.container.kotak form .item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container.kotak form input {
    width: 83%;
}

.container.kotak button.btn {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .container.kotak {
        width: 90%;
    }
    .container.kotak h1 {
        text-align: center;
        font-size: 25px;
    }
    .container.kotak h3 {
        text-align: center;
        font-size: 20px;
    }
}
