@import url("style.css");

body {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.penampilan {
    width: 100%;
    height: 85vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--hijaumudah);
    color: white;
    border-radius: 15px;
    position: relative;
}

/* tidak ada peserta */
.penampilan .tidak-ada-peserta {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.penampilan .tidak-ada-peserta h1 {
    margin-top: -20px;
    color: #f3ea65;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}

.penampilan .tidak-ada-peserta i {
    margin-top: -30px;
    font-size: 100px;
    margin-bottom: 0;
    color: #f3ea65;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}
/* akhir tidak ada peserta */

.penampilan .keterangan {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}

.penampilan .keterangan p {
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}

.penampilan .keterangan p i {
    color: red;
    font-size: 15px;
    margin: 0;
    animation: mengedip infinite 2s;
}

@keyframes mengedip {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.penampilan .keterangan button.btn-berhenti {
    width: 10%;
    margin: 0;
}

.penampilan .keterangan button.btn-berhenti i {
    font-size: 15px;
}

.penampilan h1.nama {
    font-size: 40px;
    margin: 0;
    color: var(--hijau);
}

.penampilan p.dawis {
    font-size: 23px;
    margin: 0;
    color: var(--hijau);
    font-weight: 600;
}

.penampilan h1.judul-penampilan {
    text-transform: uppercase;
    color: var(--hijau);
    font-weight: 600;
}

.penampilan img.foto {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    animation: bergerak infinite 2s;
}

@keyframes bergerak {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.penampilan .live-skor {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eaffe2;
    padding: 5px 10%;
    border-radius: 10px;
}

.penampilan .live-skor .bintang {
    display: flex;
    gap: 15px;
}

.penampilan .live-skor .skor span,
.penampilan .live-skor .bintang i {
    font-size: 25px;
    font-weight: 600;
    color: #ffc107;
}

.penampilan .live-skor .bintang i {
    color: #ffc107;
}

.penampilan h1 {
    font-size: 35px;
    text-align: center;
}

.penampilan button.btn.tampilkan {
    width: 30%;
    color: white;
    background-color: var(--warna1);
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay .pilihan {
    position: absolute;
    z-index: 999999;
    border: 3px solid var(--hijau);
    color: var(--hijau);
    background-color: var(--hijaumudah);
    padding: 30px;
    border-radius: 15px;
}

.overlay .pilihan .aksi {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.overlay .pilihan .aksi button.btn {
    color: white;
    width: 30%;
}

.overlay .pilihan i,
.overlay .daftar-peserta i.close {
    color: var(--hijau);
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -20px;
    display: flex;
    background-color: var(--hijaumudah);
    border-radius: 50%;
    transition: 200ms;
}

.overlay .pilihan i:hover,
.overlay .daftar-peserta i.close:hover {
    background-color: #dc3545;
    color: white;
}

.daftar-peserta {
    border: 3px solid var(--hijau);
    position: absolute;
    z-index: 9999;
    width: 82%;
    height: 80vh;
    padding: 30px 30px;
    border-radius: 15px;
    background-color: var(--hijaumudah);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.daftar-peserta .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: 1px solid red;
}

.daftar-peserta .header .item {
    width: calc(100% / 3);
}

.daftar-peserta .header .item.input {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.daftar-peserta .header .item.input input {
    width: 60%;
}

.daftar-peserta .header .item.input i {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    background-color: none;
    font-size: 18px;
}

.daftar-peserta .header h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--warna1) !important;
    /* color: #f3ea65 !important;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9); */
}

.daftar-peserta .scroll {
    margin-top: 20px;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.daftar-peserta .scroll .box {
    width: 200px;
    height: 270px;
    padding: 15px;
    border-radius: 15px;
    transition: 300ms;
    cursor: pointer;
    color: white;
    background-color: #5f9e44;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.daftar-peserta .scroll .box:hover {
    transform: scale(1.05);
}

.daftar-peserta .scroll .box .gambar {
    width: 100%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.daftar-peserta .scroll .box .gambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.daftar-peserta .scroll .box .deskripsi {
    padding-top: 10px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.daftar-peserta .scroll .box .deskripsi h3 {
    margin: 0;
    font-size: 20px;
}

.daftar-peserta .scroll .box .deskripsi p {
    margin: 0;
}

/* Width and Height of the scrollbar track */
::-webkit-scrollbar {
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #f1f1f1;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: var(--warna1);
    border-radius: 5px;
}

/* Hover state on Thumb */
::-webkit-scrollbar-thumb:hover {
    background: #1a3a0c;
}

/* Scrollbar Button (arrows) */
::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}

.overlay .acak {
    width: 50%;
    height: 80vh;
    border: 3px solid var(--hijau);
    border-radius: 15px;
    background-color: var(--hijaumudah);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--hijau);
}

.overlay .acak .nama {
    margin: 0;
    font-size: 30px;
}

.overlay .acak .dawis {
    margin: 0;
}

.overlay .acak .judul-penampilan {
    margin: 0;
    font-size: 30px;
}

.overlay .acak .foto {
    margin: 20px 0;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px;
}

.overlay .acak .aksi {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.overlay .acak .aksi button.btn {
    width: 30%;
}

h1.pilih-acak {
    margin-bottom: 20px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--hijau);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.swal2-container {
    z-index: 99999999; /* Ganti dengan nilai yang Anda inginkan */
}

@media only screen and (max-width: 768px) {
    /* screen penampilan peserta*/
    .penampilan {
        position: relative;
    }

    .penampilan h1.nama {
        font-size: 23px;
        text-align: center;
    }

    .penampilan p.dawis {
        font-size: 20px;
    }

    .penampilan h1.judul-penampilan {
        font-size: 20px;
        text-align: center;
    }

    .penampilan .live-skor {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .penampilan .live-skor .bintang {
        gap: 10px;
    }

    .penampilan .live-skor .skor span,
    .penampilan .live-skor .bintang i {
        font-size: 15px;
    }

    .penampilan .keterangan button.btn {
        width: 150px;
    }

    /* peserta tidak ada */
    .penampilan .tidak-ada-peserta i {
        font-size: 60px;
        margin: 0;
    }

    .penampilan .tidak-ada-peserta h1 {
        font-size: 25px;
        margin: 0;
    }

    .penampilan .tidak-ada-peserta button.btn {
        font-size: 10px;
        width: 80%;
        margin-top: 15px;
    }

    /* pilih metode */
    .pilihan {
        width: 85%;
    }

    .pilihan h2 {
        text-align: center;
        font-size: 20px;
    }

    .pilihan .aksi {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .pilihan .aksi button.btn {
        width: 45% !important;
        font-size: 12px;
        padding: 5px;
    }

    /* metode acak */
    .acak {
        width: 85% !important;
    }

    .acak h1.nama {
        font-size: 23px !important;
    }

    .acak img.foto {
        width: 200px !important;
    }

    .acak h1.judul-penampilan {
        font-size: 23px !important;
    }

    .acak .aksi button.btn {
        width: 200px !important;
        font-size: 15px;
    }

    /* metode langsung */
    .daftar-peserta {
        width: 85% !important;
    }

    .daftar-peserta .header {
        display: flex;
        flex-direction: column !important;
        gap: 15px;
    }

    .daftar-peserta .item {
        width: 100% !important;
    }

    .daftar-peserta .item h1 {
        width: 100% !important;
        font-size: 26px;
    }

    .daftar-peserta .scroll {
        width: 100%;
    }

    .daftar-peserta .scroll .box {
        width: 100%;
    }

    .daftar-peserta .scroll .box .deskripsi h3 {
        font-size: 25px !important;
    }
}
