@import url("style.css");

body {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.form {
    position: relative;
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: var(--hijaumudah);
    color: var(--hijau);
    border-radius: 20px;
    overflow-y: auto;
}

.form form {
    width: 100%;
}

.form form .btn.btn-tambah {
    margin: 0 auto;
    display: block;
    width: 40%;
    color: white;
    background-color: var(--warna1);
}

@media only screen and (max-width: 768px) {
    .form {
        width: 90%;
        min-height: 400px;
        height: 75%;
    }

    .form-label {
        margin-bottom: 5px;
    }
}
