@import url("style.css");

.penampilan {
    width: 100%;
    height: 85vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--hijaumudah);
    color: white;
    border-radius: 20px;
    position: relative;
}

.penampilan .tidak-ada-peserta {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.penampilan .tidak-ada-peserta h1 {
    margin-top: -20px;
    color: #f3ea65;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}

.penampilan .tidak-ada-peserta i {
    margin-top: -30px;
    font-size: 100px;
    margin-bottom: 0;
    color: #f3ea65;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}
.penampilan .keterangan {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}

.penampilan .keterangan p {
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(37, 77, 20, 0.9);
}

.penampilan .keterangan p i {
    color: red;
    font-size: 15px;
    margin: 0;
    animation: mengedip infinite 2s;
}

@keyframes mengedip {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.penampilan .keterangan button.nilai {
    width: 15%;
    margin: 0;
}

.penampilan .keterangan button.nilai i {
    font-size: 15px;
}

.penampilan h1.nama {
    font-size: 40px;
    margin: 0;
    color: var(--hijau);
}

.penampilan p.dawis {
    font-size: 23px;
    margin: 0;
    color: var(--hijau);
    font-weight: 600;
}

.penampilan h1.judul-penampilan {
    text-transform: uppercase;
    color: var(--hijau);
    font-weight: 600;
}

.penampilan img.foto {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    animation: bergerak infinite 2s;
}

@keyframes bergerak {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.penampilan .live-skor {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eaffe2;
    padding: 5px 10%;
    border-radius: 10px;
}

.penampilan .live-skor .bintang {
    display: flex;
    gap: 15px;
}

.penampilan .live-skor .skor span,
.penampilan .live-skor .bintang i {
    font-size: 25px;
    font-weight: 600;
    color: #ffc107;
}

.penampilan .live-skor .bintang i {
    color: #ffc107;
}

.penampilan h1 {
    font-size: 35px;
}

.penampilan button.btn.tampilkan {
    width: 30%;
    margin-top: 15px;
    color: white;
    background-color: var(--warna1);
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay .nilai h2 {
    color: var(--hijau);
}

.overlay .nilai {
    width: 30%;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid var(--hijau);
    background-color: var(--hijaumudah);
    text-align: center;
    color: white;
    position: relative;
}

.overlay .nilai i.close {
    color: var(--hijau);
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -20px;
    display: flex;
    background-color: var(--hijaumudah);
    border-radius: 50%;
    transition: 200ms;
}

.overlay .nilai i.close:hover {
    background-color: #dc3545;
    color: white;
}

.overlay .nilai .bintang {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.overlay .nilai .bintang i {
    font-size: 33px;
    color: rgb(131, 131, 11);
    cursor: pointer;
}

.overlay .komentar {
    width: 100%;
    margin-top: 20px;
}

.overlay .komentar textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
}

.overlay button.btn {
    width: 50%;
    display: block;
    margin: 30px auto;
    margin-bottom: 0;
}

.swal2-container {
    z-index: 9999999;
}

@media only screen and (max-width: 768px) {
    /* screen penampilan peserta*/

    .penampilan {
        position: relative;
    }

    .penampilan h1.nama {
        font-size: 23px;
    }

    .penampilan p.dawis {
        font-size: 20px;
    }

    .penampilan h1.judul-penampilan {
        font-size: 25px;
    }

    .penampilan .live-skor {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .penampilan .live-skor .bintang {
        gap: 10px;
    }

    .penampilan .live-skor .skor span,
    .penampilan .live-skor .bintang i {
        font-size: 15px;
    }

    .penampilan .keterangan button.btn {
        width: 150px;
    }

    /* peserta tidak ada */
    .penampilan .tidak-ada-peserta i {
        font-size: 60px;
        margin: 0;
    }

    .penampilan .tidak-ada-peserta h1 {
        font-size: 25px;
        margin: 0;
        text-align: center;
    }

    /* berikan ulasan */
    .detail {
        width: 85% !important;
    }

    .overlay .nilai {
        border: 3px solid var(--hijau);
        background-color: var(--hijaumudah);
    }

    .overlay .nilai h2 {
        color: var(--hijau);
    }
    /* {
        color: var(--hijau);
        font-size: 25px;
    } */

    .overlay .nilai button.btn-kirim {
        width: 80% !important;
        font-size: 15px;
    }
}
